<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Senha de [<b>{{account.login}}</b>]</h3>            
                </div>  
                <div class="box-body">
                    <div class="alert alert-success" ng-show="success">
                        <strong>Senha modificada com sucesso!</strong>
                    </div>
                    <div class="alert alert-danger" ng-show="error" >
                        <strong>Ocorreu um erro!</strong> A senha não pode ser modificada.
                    </div>

                    <div class="alert alert-danger" ng-show="doNotMatch">
                        A senha e a confirmação da senha não batem!
                    </div>

                    <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                        <div class="form-group">
                            <label for="password">Nova senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Nova senha"
                                   ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                <p class="help-block"
                                   ng-show="form.password.$error.required">
                                    Informe sua senha.
                                </p>
                                <p class="help-block"
                                   ng-show="form.password.$error.minlength">
                                    A senha precisa ter no mínimo 5 caracteres.
                                </p>
                                <p class="help-block"
                                   ng-show="form.password.$error.maxlength">
                                    A senha deve ter no máximo 50 caracteres.
                                </p>
                            </div>
                            <password-strength-bar password-to-check="password"></password-strength-bar>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirmar nova senha</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmar nova senha"
                                   ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                <p class="help-block"
                                   ng-show="form.confirmPassword.$error.required">
                                    A confirmação da senha precisa ser preenchida.
                                </p>
                                <p class="help-block"
                                   ng-show="form.confirmPassword.$error.minlength">
                                    A confirmação da senha deve ter no mínimo 5 caracteres.
                                </p>
                                <p class="help-block"
                                   ng-show="form.confirmPassword.$error.maxlength">
                                    A confirmação de senha deve ter no máximo 50 caracteres.
                                </p>
                            </div>
                        </div>

                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>        
        </div>
    </div>
</div>
