<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Marcas</h3>            
    </div>
    <div class="box-header">
        <div class="row">
            <div class="col-xs-12 col-sm-5">                     
                <button class="btn btn-success pull-left" ui-sref="fabricante.new">
                    <span class="mdi mdi-plus"></span> 
                    <span>Adicionar</span>
                </button>
            </div>
            <div class="col-xs-12 col-sm-7 search-pad-col">         
                <search ng-model="fabricantes"></search>
            </div>
        </div>            
    </div>
    <div class="box-body no-padding">
        <jh-alert></jh-alert>              
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Código</th>
                        <th class="col-md-4">Nome</th>
                        <th class="col-md-2 text-right">Telefone</th>
                        <th class="col-md-2 text-right">FAX</th>
                        <th class="col-md-1 text-center">Inativo</th>
                        <th class="col-md-2 text-center">Ações</th>
                    </tr>    
                </thead>  
                <tbody>
                    <tr ng-repeat="fabricante in fabricantes track by fabricante.id">
                        <td><a ui-sref="fabricante.detail({id:fabricante.id})">{{fabricante.id}}</a></td>
                        <td class="text-uppercase">{{fabricante.nome}}</td>
                        <td class="text-right">{{fabricante.telefone | brPhoneNumber}}</td>
                        <td class="text-right">{{fabricante.fax | brPhoneNumber}}</td>
                        <td class="text-center">
                            <i class="glyphicon"
                                ng-class="{'glyphicon-ok text-success': fabricante.inativo,
                                'glyphicon-remove text-danger': !fabricante.inativo}">
                            </i>
                        </td>
                        <td class="text-center">
                            <button type="submit"
                                    class="btn btn-sm btn-success"
                                    data-tooltip="Detalhes" 
                                    data-tooltip-position="top"
                                    ui-sref="fabricante.detail({id:fabricante.id})">
                                <span class="mdi mdi-eye"></span>
                            </button>
                            <button type="submit"
                                    class="btn btn-sm btn-primary"
                                    data-tooltip="Editar" 
                                    data-tooltip-position="top"
                                    ui-sref="fabricante.edit({id:fabricante.id})">
                                <span class="mdi mdi-pencil"></span>
                            </button>
                            <button type="submit"
                                    class="btn btn-sm btn-danger"
                                    data-tooltip="Deletar" 
                                    data-tooltip-position="top"
                                    ui-sref="fabricante.delete({id:fabricante.id})">
                                <span class="mdi mdi-delete"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.box-body -->     
    <div class="box-footer clearfix">
        <ul class="pagination no-margin pull-right">
            <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
            <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
            <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
            <li class="active"><a>{{page + 1}}</a></li>
            <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
            <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
            <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
            <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
        </ul>
    </div><!-- /.box-footer --> 
</div>
