<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Marcas</h3>            
    </div>
    <div class="box-header">
        <div class="box-btn">                     
            <button class="btn btn-success pull-left" ui-sref="fabricante.new">
                <span class="mdi mdi-plus mdi-icon"></span> 
                <span>Adicionar</span>
            </button>
        </div>
        <div class="box-btn pull-right">
            <form class="form-inline pull-right" name="searchForm">                  
                <input class="form-control" type="text" ng-model="searchQuery" id="searchQuery" placeholder="Pesquisar">                    
                <button class="btn btn-info hidden-xs" ng-click="search()">
                    <span class="mdi mdi-magnify mdi-icon"></span>
                </button>
            </form>
        </div>            
    </div>
    <div class="box-body">
        <jh-alert></jh-alert>              
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th class="text-center">Cód.</th>
                        <th class="col-sm-5">Nome</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">FAX</th>
                        <th class="text-center">Inativo</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="fabricante in fabricantes track by fabricante.id">
                        <td class="text-center"><a ui-sref="fabricante.detail({id:fabricante.id})">{{fabricante.id}}</a></td>
                        <td class="col-sm-5 text-uppercase">{{fabricante.nome}}</td>
                        <td class="text-center">{{fabricante.telefone | brPhoneNumber}}</td>
                        <td class="text-center">{{fabricante.fax | brPhoneNumber}}</td>
                        <td class="text-center text-uppercase">{{fabricante.inativo ? 'Sim': 'Não'}}</td>
                        <td class="text-center">
                            <button type="submit"
                                    ui-sref="fabricante.detail({id:fabricante.id})"
                                    class="btn btn-outlined btn-success">
                                <span class="mdi mdi-eye mdi-18"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fabricante.edit({id:fabricante.id})"
                                    class="btn btn-outlined btn-primary">
                                <span class="mdi mdi-pencil mdi-18"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fabricante.delete({id:fabricante.id})"
                                    class="btn btn-outlined btn-danger">
                                <span class="mdi mdi-delete mdi-18"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.box-body -->     
    <div class="box-footer clearfix">
        <ul class="pagination no-margin pull-right">
            <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
            <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
            <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
            <li class="active"><a>{{page + 1}}</a></li>
            <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
            <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
            <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
            <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
        </ul>
    </div><!-- /.box-footer --> 
</div>
