<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
	<!-- cabeçalho -->
	<div class="modal-header">
		<button type="button" 
				class="close"
				aria-hidden="true" 
				data-dismiss="modal"				 
				ng-click="clear()">
				&times;
		</button>

		<i class="mdi mdi-package mdi-22"></i>
		<h3 class="modal-title" id="myFabricanteLabel">			
			Criar ou editar	uma Marca			
		</h3>		
	</div><!-- fim cabeçalho -->
	
	<!-- conteúdo -->
	<div class="modal-body">
		<!-- mensagem de retorno do jhipster -->
 		<jh-alert-error></jh-alert-error> 

		<div class="row">
			<div class="col-xs-12 col-sm-2">
				<div class="form-group">
					<label  for="id">
							ID
					</label> 
					<input  type="text" 
							class="form-control"
							id="id" 
							name="id" 
							ng-model="fabricante.id" 
							readonly 
					/>
				</div>
			</div><!-- fim coluna -->

			<div class="col-xs-12 col-sm-10">
				<div class="form-group">
					<label  class="control-label" 
							for="field_nome">
							Nome
					</label>
					<input 	type="text" 
							class="form-control text-uppercase" 
							name="nome"
							id="field_nome" 
							ng-model="fabricante.nome"
							ng-minlength="10" 
							ng-maxlength="50" 
							autofocus
							required 
					/>
					<div ng-show="editForm.nome.$invalid">
						<!--<p class="help-block"
							ng-show="editForm.nome.$error.required">Este campo é
							obrigatório.
						</p>-->
						<p  class="help-block"
							ng-show="editForm.nome.$error.minlength"
							translate-value-min="10">
							Este campo deve conter no mínimo 10	caracteres.
						</p>
						<p  class="help-block"
							ng-show="editForm.nome.$error.maxlength"
							translate-value-max="50">
							Este campo de conter no máximo 50 caracteres.
						</p>
					</div>
				</div>
			</div><!-- fim coluna -->
		</div><!-- fim row -->
		
		<div class="row">
			<logradouro entidade="fabricante"></logradouro>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="form-group">
					<label  class="control-label" 
							for="field_cnpj">
							CNPJ
					</label> 
					<input	type="text" 
							class="form-control" 
							name="cnpj" 
							id="field_cnpj"
							ng-model="fabricante.cnpj" 
							ng-model="cnpj" 
							ng-minlength="14" 
							ng-maxlength="18" 
							ui-br-cnpj-mask
							placeholder="00.000.000/0000-00"  
					/>
					<div ng-show="editForm.cnpj.$invalid">
						<p  class="help-block" 
							ng-show="editForm.cnpj.$error.minlength"
							translate-value-min="14">
							Este campo deve conter no mínimo 14	caracteres.
						</p>
						<p  class="help-block" 
							ng-show="editForm.cnpj.$error.maxlength"
							translate-value-max="18">
							Este campo de conter no máximo 14 caracteres.
						</p>
					</div>
				</div>
			</div><!-- fim coluna -->
			<div class="col-xs-12 col-sm-4">
				<div class="form-group">
					<label  class="control-label" 
							for="field_ie">
							Inscrição Estadual
					</label> 
					<input  type="text" 
							class="form-control text-uppercase" 
							name="ie"
							id="field_ie" 
							ng-model="fabricante.ie"  
							ng-minlength="4"
							ng-maxlength="18" 
					/>
					<div ng-show="editForm.ie.$invalid">					
						<p  class="help-block" 
							ng-show="editForm.ie.$error.minlength"
							translate-value-min="4">
							Este campo deve conter no mínimo 4 caracteres.
						</p>
					
						<p  class="help-block" 
							ng-show="editForm.ie.$error.maxlength"
							translate-value-max="18">
							Este campo deve conter no máximo 18	caracteres.
						</p>
					</div>
				</div>
			</div><!-- fim coluna -->
			<div class="col-xs-12 col-sm-4">
				<div class="form-group">
					<label  class="control-label" 
							for="field_telefone">
							Telefone
					</label> 
					<input	type="text" 
							class="form-control" 
							name="telefone" 
							id="field_telefone"
							ng-model="fabricante.telefone" 
							ui-br-phone-number
							placeholder="(00) 00000-0000" 
					/>

					<div ng-show="editForm.telefone.$invalid">
						<p  class="help-block" 
							ng-show="editForm.telefone.$error.maxlength"
							translate-value-max="11">Este campo deve conter no máximo 11
							caracteres.
						</p>
					</div>
				</div>
			</div><!-- fim coluna -->
		</div><!-- fim row -->
		<div class="row">			
			<div class="col-xs-12 col-sm-4">
				<div class="form-group">
					<label  class="control-label" 
							for="field_fax">
							FAX
					</label> 
					<input	type="text" 
							class="form-control" 
							name="fax" 
							id="field_fax"
							ng-model="fabricante.fax" 
							ui-br-phone-number 
							placeholder="(00) 0000-0000"
					/>
					<div ng-show="editForm.fax.$invalid">
						<p  class="help-block" 
							ng-show="editForm.fax.$error.maxlength"
							translate-value-max="13">Este campo deve conter no máximo 13
							caracteres.
						</p>
					</div>
				</div>
			</div><!-- fim coluna -->				
		</div><!-- fim row -->			
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="form-group">
					<div class="checkbox">
			          	<label>
			            	<input type="checkbox" name="inativado" ng-model="fabricante.inativo"/>
			            	<span class="checkbox__label">Inativo</span>
			          	</label>
			        </div>
				</div>
			</div><!-- fim coluna -->
		</div><!-- fim row -->
	</div>
	<!-- rodapé -->	
	<div class="row">
    	<div class="col-xs-12 col-sm-12">
			<div class="modal-footer">
				<!-- botão cancelar -->
				<button type="button" 
						class="btn btn-default" 
						data-dismiss="modal"
						ng-click="clear()">
					<span class="mdi mdi-close mdi-icon"></span>
					<span>Cancelar</span>
				</button>
				<!-- botão salvar -->
				<button type="submit" 
						ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-success">
					<span class="mdi mdi-content-save mdi-icon"></span>						
					<span>Salvar</span>
				</button>
			</div><!-- fim modal-footer -->
		</div><!-- fim colunas -->
	</div><!-- fim rodapé -->
</form><!-- fim form -->
