<div>
    <h2>Pessoa_fisicas</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="pessoa_fisica.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Pessoa_fisica</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Pessoa_fisica</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Dt_nascimento</th>
                    <th>Cd_rg</th>
                    <th>Cd_cpf</th>
                    <th>Nm_pai</th>
                    <th>Nm_mae</th>
                    <th>Ds_estcivil</th>
                    <th>Nm_conjuge</th>
                    <th>Ds_profissao</th>
                    <th>Ds_localtrab</th>
                    <th>Ds_complemento</th>
                    <th>Ds_apelido</th>
                    <th>Ds_obs</th>
                    <th>id_pessoa</th>
                    <th>id_logradouro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pessoa_fisica in pessoa_fisicas track by pessoa_fisica.id">
                    <td><a ui-sref="pessoa_fisica.detail({id:pessoa_fisica.id})">{{pessoa_fisica.id}}</a></td>
                        <td>{{pessoa_fisica.dt_nascimento | date:'mediumDate'}}</td>
                    <td>{{pessoa_fisica.cd_rg}}</td>
                    <td>{{pessoa_fisica.cd_cpf}}</td>
                    <td>{{pessoa_fisica.nm_pai}}</td>
                    <td>{{pessoa_fisica.nm_mae}}</td>
                    <td>{{pessoa_fisica.ds_estcivil}}</td>
                    <td>{{pessoa_fisica.nm_conjuge}}</td>
                    <td>{{pessoa_fisica.ds_profissao}}</td>
                    <td>{{pessoa_fisica.ds_localtrab}}</td>
                    <td>{{pessoa_fisica.ds_complemento}}</td>
                    <td>{{pessoa_fisica.ds_apelido}}</td>
                    <td>{{pessoa_fisica.ds_obs}}</td>
                    <td>
                        <a ui-sref="pessoa.detail({id:pessoa_fisica.id_pessoa.id})">{{pessoa_fisica.id_pessoa.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="logradouro.detail({id:pessoa_fisica.id_logradouro.id})">{{pessoa_fisica.id_logradouro.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="pessoa_fisica.detail({id:pessoa_fisica.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="pessoa_fisica.edit({id:pessoa_fisica.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="pessoa_fisica.delete({id:pessoa_fisica.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
