<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Ativação GP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Prezado(a)
        </p>
        <p th:text="#{email.activation.text1}">
            Sua conta no GP foi criada, clique no link a seguir para continuar:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Link de ativação</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Atenciosamente, </span>
            <br/>
            <em th:text="#{email.signature}">GP Team.</em>
        </p>
    </body>
</html>
