<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">GP - Redefinição de senha</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Prezado(a);
        </p>
        <p th:text="#{email.reset.text1}">
            Para continuar com a redefinição de sua senha, por favor clique no link a seguir:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="|${user.login}|">Link de Redefinição</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Atenciosamente, </span>
            <br/>
            <em th:text="#{email.signature}">GP Team.</em>
        </p>
    </body>
</html>
