/*
 * Skin: Sth Blue Light
 * --------------------
 */
.sth-skin-blue-light .main-header .navbar {
  background-color: #01579b;
}
.sth-skin-blue-light .main-header .navbar .nav > li > a {
  color: #ffffff;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
.sth-skin-blue-light .main-header .navbar .nav > li > a:hover,
.sth-skin-blue-light .main-header .navbar .nav > li > a:active,
.sth-skin-blue-light .main-header .navbar .nav > li > a:focus,
.sth-skin-blue-light .main-header .navbar .nav .open > a,
.sth-skin-blue-light .main-header .navbar .nav .open > a:hover,
.sth-skin-blue-light .main-header .navbar .nav .open > a:focus,
.sth-skin-blue-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.sth-skin-blue-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.sth-skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.sth-skin-blue-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.sth-skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .sth-skin-blue-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .sth-skin-blue-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .sth-skin-blue-light .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.sth-skin-blue-light .main-header .logo {  
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.sth-skin-blue-light .main-header .logo:hover {
  
}
.sth-skin-blue-light .main-header li.user-header {
  background-color: #01579B;
}
.sth-skin-blue-light .content-header {
  background: transparent;
}
.sth-skin-blue-light .wrapper,
.sth-skin-blue-light .main-sidebar,
.sth-skin-blue-light .left-side {
  background-color: #fff;
}
.sth-skin-blue-light .content-wrapper,
.sth-skin-blue-light .main-footer {
  border-left: 0px solid #d2d6de;
}
.sth-skin-blue-light .user-panel > .info,
.sth-skin-blue-light .user-panel > .info > a {
  color: #444444;
}
.sth-skin-blue-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.sth-skin-blue-light .sidebar-menu > li.header {
  color: #fff;
  background-color: #01579b;
  font-size: 1.5rem;
  font-weight: 600;

}
.sth-skin-blue-light .sidebar-menu > li > a {
  border-left: 4px solid transparent;
  border-top: 1px solid #e0e0e0;   
  font-weight: 400;
}
.sth-skin-blue-light .sidebar-menu > li:hover > a,
.sth-skin-blue-light .sidebar-menu > li.active > a {
  color: #424242;
  background: #f4f4f5;
  border-left-color: #00c0ef;
  font-weight: 600;
}
.sth-skin-blue-light .sidebar-menu > li.active {
  border-left-color: #00c0ef;

}
.sth-skin-blue-light .sidebar-menu > li.active > a {
  font-weight: 600;
  background: #f4f4f5;
  color: #424242;
}
.sth-skin-blue-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.sth-skin-blue-light .sidebar a {
  color: #424242;
}
.sth-skin-blue-light .sidebar a:hover {
  text-decoration: none;
}
.sth-skin-blue-light .treeview-menu > li > a {
  border-top: 1px solid #fafafa;
  color: #424242;
  font-size: 1.50rem;
  padding: 12px 5px 12px 30px;  
}
.sth-skin-blue-light .treeview-menu > li.active > a,
.sth-skin-blue-light .treeview-menu > li > a:hover {
  background: #eee;
  color: #424242;
  border-left: 4px solid #00c0ef;
  border-top: 1px solid #e0e0e0;  
  font-weight: 600;
}
.sth-skin-blue-light .treeview-menu > li.active > a {
  font-weight: 400;
}
.sth-skin-blue-light .sidebar-form {
  border-radius: 0px;
  border: 0px solid #d2d6de;
  margin: 8px 8px; 
  margin-bottom: 12px; 
}
.sth-skin-blue-light .sidebar-form input[type="text"],
.sth-skin-blue-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #eee;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sth-skin-blue-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0px;
}
.sth-skin-blue-light .sidebar-form input[type="text"]:focus,
.sth-skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sth-skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sth-skin-blue-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .sth-skin-blue-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.sth-skin-blue-light .main-footer {
  border-top-color: #d2d6de;
}
.sth-skin-blue-light.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.sth-skin-blue-light.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}





 



