<div>
    <h2>Pessoa_juridicas</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="pessoa_juridica.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Pessoa_juridica</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Pessoa_juridica</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cd_cgc</th>
                    <th>Cd_cgf</th>
                    <th>Nm_fantasia</th>
                    <th>Cd_cnpj</th>
                    <th>Ds_responsavel</th>
                    <th>Ds_obs</th>
                    <th>id_pessoa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pessoa_juridica in pessoa_juridicas track by pessoa_juridica.id">
                    <td><a ui-sref="pessoa_juridica.detail({id:pessoa_juridica.id})">{{pessoa_juridica.id}}</a></td>
                    <td>{{pessoa_juridica.cd_cgc}}</td>
                    <td>{{pessoa_juridica.cd_cgf}}</td>
                    <td>{{pessoa_juridica.nm_fantasia}}</td>
                    <td>{{pessoa_juridica.cd_cnpj}}</td>
                    <td>{{pessoa_juridica.ds_responsavel}}</td>
                    <td>{{pessoa_juridica.ds_obs}}</td>
                    <td>
                        <a ui-sref="pessoa.detail({id:pessoa_juridica.id_pessoa.id})">{{pessoa_juridica.id_pessoa.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="pessoa_juridica.detail({id:pessoa_juridica.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="pessoa_juridica.edit({id:pessoa_juridica.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="pessoa_juridica.delete({id:pessoa_juridica.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
