
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPessoa_juridicaLabel">Create or edit a Pessoa_juridica</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pessoa_juridica.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cd_cgc">Cd_cgc</label>
            <input type="text" class="form-control" name="cd_cgc" id="field_cd_cgc"
                    ng-model="pessoa_juridica.cd_cgc"
                    ng-maxlength="18" />
            <div ng-show="editForm.cd_cgc.$invalid">
                <p class="help-block"
                    ng-show="editForm.cd_cgc.$error.maxlength" translate-value-max="18">
                    This field cannot be longer than 18 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cd_cgf">Cd_cgf</label>
            <input type="text" class="form-control" name="cd_cgf" id="field_cd_cgf"
                    ng-model="pessoa_juridica.cd_cgf"
                    ng-maxlength="18" />
            <div ng-show="editForm.cd_cgf.$invalid">
                <p class="help-block"
                    ng-show="editForm.cd_cgf.$error.maxlength" translate-value-max="18">
                    This field cannot be longer than 18 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nm_fantasia">Nm_fantasia</label>
            <input type="text" class="form-control" name="nm_fantasia" id="field_nm_fantasia"
                    ng-model="pessoa_juridica.nm_fantasia"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cd_cnpj">Cd_cnpj</label>
            <input type="text" class="form-control" name="cd_cnpj" id="field_cd_cnpj"
                    ng-model="pessoa_juridica.cd_cnpj"
                    ng-maxlength="14" />
            <div ng-show="editForm.cd_cnpj.$invalid">
                <p class="help-block"
                    ng-show="editForm.cd_cnpj.$error.maxlength" translate-value-max="14">
                    This field cannot be longer than 14 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_responsavel">Ds_responsavel</label>
            <input type="text" class="form-control" name="ds_responsavel" id="field_ds_responsavel"
                    ng-model="pessoa_juridica.ds_responsavel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_obs">Ds_obs</label>
            <input type="text" class="form-control" name="ds_obs" id="field_ds_obs"
                    ng-model="pessoa_juridica.ds_obs"
                     />
        </div>

        <div class="form-group">
            <label for="field_id_pessoa">id_pessoa</label>
            <select class="form-control" id="field_id_pessoa" name="id_pessoa" ng-model="pessoa_juridica.id_pessoa" ng-options="pessoa as pessoa.id for pessoa in id_pessoas | orderBy:'id' track by pessoa.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
