<form class="form-inline search-pad pull-right" name="searchForm">
	<div class="col-xs-5 search-pad-col-left">
		<div class="form-group"> 
			<select class="form-control text-uppercase" ng-model="fieldForSearch">
				<option 
					ng-repeat="campo in fieldsSearch"
					value="{{campo.value}}">{{campo.desc}}
				</option>
			</select>
		</div>
	</div>
	
	<div class="col-xs-7 search-pad-col-right">
		<div class="form-group">
			<div class="input-group">				
				<input type="text" name="inSearch" ng-model="valueSearch"
					class="form-control text-uppercase" placeholder="Pesquisar">
				<span class="input-group-btn"> 	
					<button class="btn btn-sm btn-info pull-left" ng-click="search()">
						<span class="mdi mdi-magnify"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
</form>

