<form name="editForm" role="form" novalidate ng-submit="save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;
        </button>
        <i class="mdi mdi-account"></i>
        <h4 class="modal-title" id="myClienteLabel">Criar ou editar um Cliente</h4>
    </div>
    <div class="modal-body">
    	<div class="row">
	    	<div class="col-md-2">
		        <div class="form-group">
		            <label for="id">Código</label>
		            <input type="text" 
		            	   class="form-control" 
		            	   name="id"
		            	   id="id" 
		                   ng-model="cliente.id" 
		                   readonly
		            />
		        </div>
	        </div>			
			<div class="col-md-10">
		        <div class="form-group">
		            <label class="control-label" for="field_nome">Nome</label>
		            <input type="text" 
		            	   class="form-control text-uppercase" 
		            	   name="nome" 
		            	   id="field_nome"
		                   ng-model="cliente.nome"
		                   required
		                   autofocus 
		            />
		            <div ng-show="editForm.nome.$invalid">
		                <p class="help-block"
		                   ng-show="editForm.nome.$error.required">
		                    Preenchimento obrigatório.
		                </p>
		            </div>
		        </div>
		    </div>		    
		</div>

        <ul class="nav nav-tabs">
            <li class="active">
            	<a showtab="" href="#tabGeral">Geral</a>
            </li>
            <li ng-show="cliente.tipoPessoa=='F'" >
            	<a showtab=""  href="#tabPessoaFisica">Pessoa Física</a>
            </li>
            <li ng-show="cliente.tipoPessoa=='J'" >
            	<a showtab="" href="#tabPessoaJuridica">Pessoa Jurídica</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabGeral">
                <br> 
                <div class="row">
                	<div class="col-md-3">
				    	<div class="form-group">
		                    <label class="control-label" >Tipo de Cliente</label>
		                    <br>
		                    <label>
		                        <input type="radio" ng-model="cliente.tipoPessoa" value="F">
		                        Fisica
		                    </label>
		                    <label>
		                        <input type="radio" ng-model="cliente.tipoPessoa" value="J">
		                        Juridica
		                    </label>
		                </div>
				    </div>				    
                </div> 

		        <logradouro ng-model="cliente.logradouro"></logradouro>

		        <div class="row">
    				<div class="col-md-2">
		                <div class="form-group">
		                    <label class="control-label" for="field_telefone">Telefone</label>
		                    <input type="text" class="form-control" name="telefone" id="field_telefone"
		                           ng-model="cliente.telefone"
		                           ui-br-phone-number
		                           maxlength="15"
		                           ng-maxlength="15"
		                           placeholder="(00) 0000-0000"
		                           />
		                    <div ng-show="editForm.telefone.$invalid">
		                        <p class="help-block"
		                           ng-show="editForm.telefone.$error.maxlength" translate-value-max="15">
		                            Este campo deve conter no máximo 15	caracteres.
		                        </p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-2">
		                <div class="form-group">
		                    <label class="control-label" for="field_celular">Celular</label>
		                    <input type="text" class="form-control" name="celular" id="field_celular"
		                           ng-model="cliente.celular"
		                           ui-br-phone-number
		                           maxlength="15"
		                           ng-maxlength="15" 
								   placeholder="(00) 00000-0000"	
		                           />
		                    <div ng-show="editForm.celular.$invalid">
		                        <p class="help-block"
		                           ng-show="editForm.celular.$error.maxlength" translate-value-max="15">
		                            Este campo deve conter no máximo 15	caracteres.
		                        </p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-2">
		                <div class="form-group">
		                    <label class="control-label" for="field_fax">Fax</label>
		                    <input type="text" class="form-control" name="fax" id="field_fax"
		                           ng-model="cliente.fax"
		                           ui-br-phone-number
		                           maxlength="15" 
		                           ng-maxlength="15" 
								   placeholder="(00) 0000-0000"
		                           />
		                    <div ng-show="editForm.fax.$invalid">
		                        <p class="help-block"
		                           ng-show="editForm.fax.$error.maxlength" translate-value-max="15">
		                            Este campo não pode ser maior do que 15	caracteres.
		                        </p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		                    <label class="control-label" for="field_email">Email</label>
		                    <input type="text" class="form-control" name="email" id="field_email"
		                           ng-model="cliente.email"
		                        />
		                </div>	
		            </div>
		        </div>          
		        
                <div class="form-group">
                	<label for="field_historico">Histórico</label>
                	<textarea class="form-control text-uppercase"                			   
                			  name="historico" 
                			  id="field_historico" 
                			  rows="3"
                			  ng-model="cliente.historico">
                	</textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" >Situação</label>

                    <label>
                        <input type="radio" ng-model="cliente.situacao" value="A">
                        A
                    </label>
                    <label>
                        <input type="radio" ng-model="cliente.situacao" value="B">
                        B
                    </label>
                </div>

                <div class="form-group">
                    <label class="control-label" for="field_inativo">Inativo</label>
                    <input type="checkbox" 
                    	   name="inativo" 
                    	   id="field_inativo"
                           ng-model="cliente.inativo"
                        />
                </div>
                <!--
                <div class="form-group">
                    <label class="control-label" for="field_vendedor">Vendedor</label>
                    <input type="checkbox"  name="vendedor" id="field_vendedor"
                           ng-model="cliente.vendedor"
                        />
                </div>                
                <div class="form-group">
                    <label class="control-label" for="field_usuario">Usuário</label>
                    <input  type="checkbox"
                            name="usuario" id="field_usuario"
                            ng-model="cliente.usuario"
                        />
                </div>
                -->
                <div class="form-group">
                    <label class="control-label" for="field_data_cadastro">Data de Cadastro</label>
                    <span id="field_data_cadastro">{{cliente.dataCadastro | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                </div>
            </div>

            <div class="tab-pane" id="tabPessoaFisica">
                <br>
                <div class="row">
                	<div class="col-md-4">
	                	<div class="form-group">
		                    <label class="control-label" for="field_rg">Identidade</label>
		                    <input type="text" 
		                    	   class="form-control" 
		                    	   name="rg" 
		                    	   id="field_rg"
		                           ng-model="cliente.pessoaFisica.rg"
		                        />
		                </div>
	                </div>
	                <div class="col-md-4">
		                <div class="form-group">
		                    <label for="field_cpf">CPF</label>
		                    <input type="text" 
		                    	   class="form-control" 
		                    	   name="cpf" 
		                    	   id="field_cpf"
		                           ng-model="cliente.pessoaFisica.cpf"
		                           ui-br-cpf-mask
		                           placeholder="000.000.000-00"		                           
		                        >
		                </div>
	                </div>
	                <div class="col-md-4">
		                <div class="form-group">
		                    <label class="control-label" for="field_data_nascimento">Data Nascimento</label>
		                    <input type="date"		                    	     
		                    	   class="form-control" 
		                    	   name="data_nascimento" 
		                    	   id="field_data_nascimento"
		                    	   data-inputmask="'alias': 'dd/mm/yyyy'" 
		                    	   data-mask=""
		                           ng-model="cliente.pessoaFisica.dataNascimento"
		                        />
		                </div>	
	                </div>                
	            </div>

	            <div class="row">	            	
	                <div class="col-md-6">
		                <div class="form-group">
		                    <label class="control-label" for="field_nome_mae">Nome da Mãe</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="mae" 
		                    	   id="field_nome_mae"
		                           ng-model="cliente.pessoaFisica.mae"
		                        />
		                </div>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <label class="control-label" for="field_nome_pai">Nome do Pai</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="pai" 
		                    	   id="field_nome_pai"
		                           ng-model="cliente.pessoaFisica.pai"
		                        />
		                </div>
	                </div>
	            </div>

	            <div class="row">
					<div class="col-md-6">
						<div class="form-group">
		                    <label class="control-label" for="field_estado_civil">Estado Civil</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="estado_civil" 
		                    	   id="field_estado_civil"
		                           ng-model="cliente.pessoaFisica.estadoCivil"
		                           ng-maxlength="11" />
		                    <div ng-show="editForm.pessoaFisica.estadoCivil.$invalid">
		                        <p class="help-block"
		                           ng-show="editForm.pessoaFisica.estadoCivil.$error.maxlength" translate-value-max="11">
		                            Este campo não pode ser maior do que 11	caracteres.
		                        </p>
		                    </div>
		                </div>
					</div>
		            <div class="col-md-6">    
		                <div class="form-group">
		                    <label class="control-label" for="field_nome_conjuge">Nome do Cônjuge</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="nome_conjuge" 
		                    	   id="field_nome_conjuge"
		                           ng-model="cliente.pessoaFisica.conjuge"
		                        />
		                </div>
		            </div>
		        </div>

		        <div class="row">
					<div class="col-md-6">
		                <div class="form-group">
		                    <label class="control-label" for="field_profissao">Profissão</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="profissao" 
		                    	   id="field_profissao"
		                           ng-model="cliente.pessoaFisica.profissao"
		                        />
		                </div>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <label class="control-label" for="field_local_trabalho">Local de trabalho</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="local_trabalho" 
		                    	   id="field_local_trabalho"
		                           ng-model="cliente.pessoaFisica.localTrabalho"
		                        />
		                </div>
		            </div>
		        </div>

		        <div class="row">
					<div class="col-md-6">
		                <div class="form-group">
		                    <label class="control-label" for="field_complemento">Complemento</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="complemento" 
		                    	   id="field_complemento"
		                           ng-model="cliente.pessoaFisica.complemento"
		                        />
		                </div>
		            </div>
		            <div class="col-md-6">
		                <div class="form-group">
		                    <label class="control-label" for="field_apelido">Apelido</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="apelido" 
		                    	   id="field_apelido"
		                           ng-model="cliente.pessoaFisica.apelido"
		                        />
		                </div>
		            </div>
		        </div>

		        <div class="row">
		        	<div class="col-md-12">
		        		<div class="form-group">
		                    <label class="control-label" for="field_obs">Observação:</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="obs" 
		                    	   id="field_obs"
		                           ng-model="cliente.obs"
		                        />
		                </div>
		        	</div>		        	
		        </div>
            </div>
            <div class="tab-pane" id="tabPessoaJuridica">
                <br>
                <div class="row">
                	<div class="col-md-12">			    	
	                    <h4 class="text-center">Consulte a situação do cliente no site do <strong>SINTEGRA:</strong>
	                    	<a href="http://www.sintegra.gov.br/" target="_blank">sintegra.gov.br</a>
	                    </h4>	                
				    </div>
                </div>

                <div class="row">
					<div class="col-md-12">
		                <div class="form-group">
		                    <label class="control-label" for="field_fantasia">Nome Fantasia</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="fantasia" 
		                    	   id="field_fantasia"
		                           ng-model="cliente.pessoaJuridica.fantasia"
		                        />
		                </div>
		            </div>
		        </div>

		        <div class="row">					
		            <div class="col-md-4">
		                <div class="form-group">
		                    <label class="control-label" for="field_cnpj">CNPJ</label>
		                    <input type="text" class="form-control" name="cnpj" id="field_cnpj"
		                           ng-model="cliente.pessoaJuridica.cnpj"
		                           ui-br-cnpj-mask
		                           maxlength="18" 
		                           ng-maxlength="18"
		                           placeholder="00.000.000/0000-00" 
		                           
		                           />
		                    <div ng-show="editForm.pessoaJuridica.cnpj.$invalid">
		                        <p class="help-block"
		                           ng-show="editForm.pessoaJuridica.cnpj.$error.maxlength" translate-value-max="18">
		                            Este campo não pode ser maior do que 17	caracteres.
		                        </p>
		                    </div>
		                </div> 
		            </div>
		            <div class="col-md-4">               
		                <div class="form-group">
		                    <label class="control-label" for="field_cgf">Inscrição Estadual</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="cgf" 
		                    	   id="field_cgf"
		                           ng-model="cliente.pessoaJuridica.cgf"
		                           maxlength="18"
		                           ng-maxlength="18" />
		                    <div ng-show="editForm.pessoaJuridica.cgf.$invalid">
		                        <p class="help-block"
		                           ng-show="editForm.pessoaJuridica.cgf.$error.maxlength" translate-value-max="18">
		                            Este campo não pode ser maior do que 18	caracteres.
		                        </p>
		                    </div>
		                </div> 
		            </div>
		        </div>

		        <div class="row">
					<div class="col-md-12">               
		                <div class="form-group">
		                    <label class="control-label" for="field_responsavel">Responsável</label>
		                    <input type="text" 
		                    	   class="form-control text-uppercase" 
		                    	   name="responsavel" 
		                    	   id="field_responsavel"
		                           ng-model="cliente.pessoaJuridica.responsavel"
		                        />
		                </div>
		            </div>
		        </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="mdi mdi-close"></span>
            <span>Cancelar</span>
        </button>
        <button type="submit" class="btn btn-success" ng-disabled="editForm.$invalid || editForm.$submitted">
            <span class="mdi mdi-content-save"></span>
            <span>Salvar</span>
        </button>
    </div>
</form>
