
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCidadeLabel">Create or edit a Cidade</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cidade.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nm_cidade">Nm_cidade</label>
            <input type="text" class="form-control" name="nm_cidade" id="field_nm_cidade"
                    ng-model="cidade.nm_cidade"
                    required ng-maxlength="60" />
            <div ng-show="editForm.nm_cidade.$invalid">
                <p class="help-block"
                    ng-show="editForm.nm_cidade.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nm_cidade.$error.maxlength" translate-value-max="60">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_id_estado">id_estado</label>
            <select class="form-control" id="field_id_estado" name="id_estado" ng-model="cidade.id_estado" ng-options="estado as estado.y for estado in estados track by estado.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
