
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPessoaLabel">Create or edit a Pessoa</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pessoa.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_id_pessoa">Id_pessoa</label>
            <input type="number" class="form-control" name="id_pessoa" id="field_id_pessoa"
                    ng-model="pessoa.id_pessoa"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nm_pessoa">Nm_pessoa</label>
            <input type="text" class="form-control" name="nm_pessoa" id="field_nm_pessoa"
                    ng-model="pessoa.nm_pessoa"
                    required />
            <div ng-show="editForm.nm_pessoa.$invalid">
                <p class="help-block"
                    ng-show="editForm.nm_pessoa.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cd_tel">Cd_tel</label>
            <input type="text" class="form-control" name="cd_tel" id="field_cd_tel"
                    ng-model="pessoa.cd_tel"
                    ng-maxlength="13" />
            <div ng-show="editForm.cd_tel.$invalid">
                <p class="help-block"
                    ng-show="editForm.cd_tel.$error.maxlength" translate-value-max="13">
                    This field cannot be longer than 13 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cd_cel">Cd_cel</label>
            <input type="text" class="form-control" name="cd_cel" id="field_cd_cel"
                    ng-model="pessoa.cd_cel"
                    ng-maxlength="13" />
            <div ng-show="editForm.cd_cel.$invalid">
                <p class="help-block"
                    ng-show="editForm.cd_cel.$error.maxlength" translate-value-max="13">
                    This field cannot be longer than 13 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cd_fax">Cd_fax</label>
            <input type="text" class="form-control" name="cd_fax" id="field_cd_fax"
                    ng-model="pessoa.cd_fax"
                    ng-maxlength="13" />
            <div ng-show="editForm.cd_fax.$invalid">
                <p class="help-block"
                    ng-show="editForm.cd_fax.$error.maxlength" translate-value-max="13">
                    This field cannot be longer than 13 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_id_logradouro">Id_logradouro</label>
            <input type="number" class="form-control" name="id_logradouro" id="field_id_logradouro"
                    ng-model="pessoa.id_logradouro"
                    required />
            <div ng-show="editForm.id_logradouro.$invalid">
                <p class="help-block"
                    ng-show="editForm.id_logradouro.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.id_logradouro.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nm_numero">Nm_numero</label>
            <input type="text" class="form-control" name="nm_numero" id="field_nm_numero"
                    ng-model="pessoa.nm_numero"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_complemento">Ds_complemento</label>
            <input type="text" class="form-control" name="ds_complemento" id="field_ds_complemento"
                    ng-model="pessoa.ds_complemento"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_situacao">Ds_situacao</label>
            <input type="checkbox" class="form-control" name="ds_situacao" id="field_ds_situacao"
                    ng-model="pessoa.ds_situacao"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fl_fisica">Fl_fisica</label>
            <input type="checkbox" class="form-control" name="fl_fisica" id="field_fl_fisica"
                    ng-model="pessoa.fl_fisica"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_email">Ds_email</label>
            <input type="text" class="form-control" name="ds_email" id="field_ds_email"
                    ng-model="pessoa.ds_email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_obs">Ds_obs</label>
            <input type="text" class="form-control" name="ds_obs" id="field_ds_obs"
                    ng-model="pessoa.ds_obs"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_historico">Ds_historico</label>
            <input type="text" class="form-control" name="ds_historico" id="field_ds_historico"
                    ng-model="pessoa.ds_historico"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fl_vendedor">Fl_vendedor</label>
            <input type="number" class="form-control" name="fl_vendedor" id="field_fl_vendedor"
                    ng-model="pessoa.fl_vendedor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ds_inativo">Ds_inativo</label>
            <input type="checkbox" class="form-control" name="ds_inativo" id="field_ds_inativo"
                    ng-model="pessoa.ds_inativo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fl_usuario">Fl_usuario</label>
            <input type="number" class="form-control" name="fl_usuario" id="field_fl_usuario"
                    ng-model="pessoa.fl_usuario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dt_cadastro">Dt_cadastro</label>
            <input type="date" class="form-control" name="dt_cadastro" id="field_dt_cadastro"
                    ng-model="pessoa.dt_cadastro"
                     />
        </div>

        <div class="form-group">
            <label for="field_id_logra">id_logra</label>
            <select class="form-control" id="field_id_logra" name="id_logra" ng-model="pessoa.id_logra" ng-options="logradouro as logradouro.cep for logradouro in logradouros track by logradouro.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
