/*
 * Configurações Gerais
 * ------------------------
 */

 /**************************
 Fonte
**************************/

body {  
  font-family: 'Open Sans' !important;
  font-size: 16px; 
  font-weight: 400;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans' !important; 
}

/**************************
 Correções no Menu do Topo
**************************/

.main-header>.navbar { 
  border: none;
  min-height: 50px;
  border-radius: 0;
}

.navbar-fixed-top, .navbar-static-top {    
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.main-header .sidebar-toggle {
  padding: 14px 14px;
}

.mgleft{
  margin-right: 24px;
}

/**************************
 Correções no Menu Lateral
**************************/

.sidebar-left-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sidebar-menu {
  margin-top: 5px;
}

.sidebar-menu .treeview-menu {
  padding-left: 0px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 0px;
}

/*Adicionando margens nos sub-itens*/

.treeview-menu-ml15 {
  margin-left: 15px !important;
}

.treeview-menu-ml30 {
  margin-left: 30px !important;
}
.treeview-menu-ml45 {
  margin-left: 45px !important;
} 

 /*Logomarca Menu Lateral*/ 

.main-sidebar,
.left-side {
  padding-top: 85px; 
}

.user-panel {
  padding: 0px;
}

@media (max-width: 767px) {
 .main-sidebar,
 .left-side {  
   margin-top: 50px;
 }
}

.user-panel-logo {
  margin-top: 0px;
}

.main-header {     
  max-height: 80px;     
}

.main-header .logo {   
  height: 70px;  
  margin-top: 12px;
  padding: 0px 10px;
}

.main-header .logo-mini { 
  max-height: 70px;
  padding: 0 10px;  
}

.main-header .logo-lg{
  max-height: 70px;   
  padding: 0 0px;
}

@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
  display: block;     
}
}

/**************************
 Ajustes no Componente Box
 *************************/
.box {
  position: relative;
  border-radius: 0px;
  background: #ffffff;
  border-top: 0px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.box-title {
  color: #000;  
}

/************************************
 Ajustes no Content-wrapper
***********************************/

.content-wrapper, .right-side {
    background-color: #f3f3f4;
}

@media (max-width: 767px){
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px;
}
}

/********************************
 Ajustes no Breadcrumbs
*********************************/

.breadcrumb {
  padding: 6px 0px;
  margin-bottom: 4px;
  list-style: none;
  background-color: #fff;
  border-radius: 0px;
}
.mtb{
  margin-top: 12px;
  margin-bottom: 0px;
}
.white-bg {
    background-color: #ffffff;
}
.page-heading {
    border-bottom: 1px solid #D2D6DE;
    border-top: 0;
    padding: 0px 10px 20px 10px;    
}
.wrapper-page {
    padding: 0 20px;
}
.mgtop{
  margin-top: -14px;
}
