/*
 * Configurações do JHipster
 * --------------------------------------------------------------------------
 */

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/*
 * Fim das configurações do JHipster
 * --------------------------------------------------------------------------
 */


/*
 * Configurações da Sistech
 * --------------------------------------------------------------------------
 */

/* ==========================================================================
Icones Material Design
========================================================================== */

.mdi-x {
  font-size: 16px; 
}
.mdi-2x {
  font-size: 20px; 
}
.mdi-3x {
  font-size: 24px; 
}
.mdi-icon {
  margin-left: -7px;  
  max-height: 50px;
  text-align: left;
  font-size: 28px;
}

.mdi-icon-text {
  vertical-align: 3px;
  font-size: 16px;
}

@media (max-width: 767px){
.mdi-icon {
   margin-left: 0px; 
}
}

/* ==========================================================================
Correções no Menu do Topo
========================================================================== */

.navbar-fixed-top, .navbar-static-top, .logo {    
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 991px){
.skin-blue-light .navbar-custom-menu .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;		
}
}

@media (min-width: 768px){
.skin-blue-light .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;	
}
}

.btn-menu-topo{
	color: #fff;
	background: #0d47a1 !important;
	margin-left: 0px;
	
}

.btn-menu-topo:hover{
	color: #fff;
	background: #0C4091 !important; 
}

/* ==========================================================================
Correções no Menu Lateral
========================================================================== */

.skin-blue-light .main-sidebar{
  background: #fff;
}

.sidebar-left-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* ==========================================================================
Ajustes no Componente Box
========================================================================== */

.skin-blue-light .box {
  position: relative;
  border-radius: 0px;
  background: #ffffff;
  border-top: 0px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;  
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-blue-light .box-title {
  color: #000;  
}

/*
 * Configurações da Página
 * ------------------------
 */

/* ==========================================================================
Menu da Dashboard
========================================================================== */

.ca-menu{        
    padding: 10px 20px 20px 20px;      
}

.ca-menu li{   
    height: 130px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 6px;    
    -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ca-menu li:last-child{
    margin-bottom: 0px;    
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;    
}
.ca-icon{    
    font-size: 75px;
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    line-height: 125px;
    position: absolute;
    width: 90px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-content{
    position: absolute;
    left: 100px;    
    height: 60px;
    top: 0px;
}
.ca-main{
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-sub{
    font-size: 14px;
    color: #fff;
}
.ca-menu li:hover{
    background-color: #212121;
}
.ca-menu li:hover .ca-icon{    
    font-size: 130px;
    opacity: 0.2;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main{ 
    font-weight: 600;   
    opacity: 0.8;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    opacity: 0.8;
}

/* Adicionando espaço entre os blocos */
.mg-left{
  margin-left: 6px;
  margin-right: -6px;
}
.mg-right{
  margin-left: -6px;
  margin-right: 6px;
}

/* Removendo padding em resoluções pequenas */
@media (max-width: 767px) {
  .ca-menu{    
      padding:0;   
  }
  .mg-left, .mg-right{
    margin: 0;
  }
}

/* Cor do texto no menu */
.ca-menu li:hover .txt-red{
   color: #c62828 !important;
}

.ca-menu li:hover .txt-blue{
   color: #0d47a1 !important;
}

.ca-menu li:hover .txt-amber{
   color: #ff8f00 !important;
}

.ca-menu li:hover .txt-teal{
   color: #00695c !important;
}

.ca-menu li:hover .txt-green{
   color: #2E7D32 !important;
}
.ca-menu li:hover .txt-pink{
   color: #880e4f !important;
}

/* Cor de fundo no menu */
.bgm-red{
  background: #c62828 !important;  
}
.bgm-blue{
  background: #0d47a1 !important;  
}
.bgm-amber{
  background: #ff8f00 !important;  
}
.bgm-teal{
  background: #00695c !important;  
}
.bgm-green{
  background: #2E7D32 !important;  
}
.bgm-pink{
  background: #880e4f !important;  
}

/* Efeito hover */
.bgm-red:hover, .bgm-blue:hover, .bgm-amber:hover, .bgm-teal:hover, .bgm-green:hover, .bgm-pink:hover{
  background: #212121 !important;  
}






