<header class="main-header"> 
<nav class="navbar navbar-static-top" role="navigation"> 
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle btn-group" data-toggle="offcanvas" role="button">
        <span class="sr-only">Mudar Navegação</span>
    </a>    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="mdi mdi-menu"> Menu</i>            
        </button>
        <a class="navbar-brand" href="#/"><span>SthWeb</span> <span class="navbar-version">v{{VERSION}}</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
        <ul class="nav navbar-nav navbar-right mgleft">
            <li ui-sref-active="active">
                <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="hidden-sm">Home</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <span>
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="hidden-sm">
                            Entidades
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>
               <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="grupo" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Grupo</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="subgrupo" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Subgrupo</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <span>
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm">
                            Conta
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                        &#xA0;<span>Configurações</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                        &#xA0;<span>Senha</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-cloud"></span>
                        &#xA0;<span>Sessões</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                        &#xA0;<span>Sairt</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                        &#xA0;<span>Entrar</span></a></li>
                    <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                        &#xA0;<span>Criar Conta</span></a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <span>
                        <span class="glyphicon glyphicon-tower"></span>
                        <span class="hidden-sm">Administração</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                        &#xA0;<span>Manutenção de Usuário</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                        &#xA0;<span>Metricas</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                        &#xA0;<span>Monitoração</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                        &#xA0;<span>Configurações</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                        &#xA0;<span>Auditoria</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                        &#xA0;<span>Logs</span></a></li>
                    <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                        &#xA0;<span>API</span></a></li>
                </ul>
                <!-- Fullscreen --> 
                <li class="btn-group notifications-menu">                
                    <a href="" class="toggle-fullscreen" id="javascript:void(0);">
                        <i class="fa fa-expand fa-fw"></i>
                        <span class="hidden-sm-down"> Expandir</span>
                    </a>
                </li>
            </li>
        </ul>
    </div>
    
</nav>
</header>

<!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar sidebar-left-shadow">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel main-header"> 
            <a href="#/" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><img src="assets/images/logo-sth-mini.png" class="img-responsive" alt="Logo"></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><img src="assets/images/logo-sth.png" class="img-responsive" alt="Logo"></span>
            </a>
            <div class="pull-left info"></div>
          </div><!-- ./Sidebar user panel -->

          <!-- search form (Optional) -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
              <a href=""><i class="mdi mdi-file-document" style="font-size:18px;"></i><span> Cadastros </span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Produtos</a></li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Grupo</a></li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Subgrupo</a></li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Marca</a></li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Grade</a></li>                
              </ul>              
            </li>

            <li class="treeview">
              <a href=""><i class="fa fa-file-word-o fa-fw"></i><span> Relatórios</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-archive fa-fw"></i> Notas<i class="fa fa-angle--left pull-right"></i></a>
                  <!--
                  <ul class="treeview-menu">
                    <li><a href="#produtos"><span class="treeview-menu-ml30"><i class="fa fa-archive fa-fw"></i> Produtos</span></a></li>
                    <li><a href="#produtos"><span class="treeview-menu-ml30"><i class="fa fa-archive fa-fw"></i> Grupo</span></a></li>
                    <li><a href="#produtos"><span class="treeview-menu-ml30"><i class="fa fa-archive fa-fw"></i> Subgrupo</span></a></li>
                    <li><a href="#produtos"><span class="treeview-menu-ml30"><i class="fa fa-archive fa-fw"></i> Marca</span></a></li>
                    <li><a href="#produtos"><span class="treeview-menu-ml30"><i class="fa fa-archive fa-fw"></i> Grade</span></a></li>
                  </ul>
                  -->
                </li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Financeiro</a></li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Estoque</a></li>
                <li><a href="#produtos"><i class="fa fa-archive fa-fw"></i> Venda de Produtos</a></li>                
              </ul>              
            </li>
            
            <li><a href="#"><i class="fa fa-cog fa-fw"></i> <span>Configurações</span></a></li>
            
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- AdminSTH App -->
<script src="assets/js/AdminLTE.js"></script>    
<!-- Tela Cheia -->
<script src="assets/js/fullscreen.js"></script>
<!-- PLUGINS -->    
<!-- SlimScroll 1.3.0 -->
<script src="assets/libs/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- endbuild -->
