<form name="editForm" role="form" novalidate ng-submit="save()" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;
        </button>
        <i class="mdi mdi-account"></i>
        <h4 class="modal-title" id="myTipoClienteLabel">Criar ou editar um Tipo de Cliente</h4>
    </div>
    <div class="modal-body">
    	<div class="row">
	    	<div class="col-md-2">
		        <div class="form-group">
		            <label for="id">Código</label>
		            <input type="text"
		            	   class="form-control"
		            	   name="id"
		            	   id="id"
		                   ng-model="tipocliente.id"
		                   readonly
		            />
		        </div>
	        </div>
			<div class="col-md-10">
		        <div class="form-group">
		            <label class="control-label" for="field_nome">Nome</label>
		            <input type="text"
		            	   class="form-control text-uppercase"
		            	   name="nome"
		            	   id="field_nome"
		                   ng-model="tipocliente.nome"
		                   required
		                   autofocus
		            />
		            <div ng-show="editForm.nome.$invalid">
		                <p class="help-block"
		                   ng-show="editForm.nome.$error.required">
		                    Preenchimento obrigatório.
		                </p>
		            </div>
		        </div>
		    </div>
		</div>

        <ul class="nav nav-tabs">
            <li class="active">
            	<a showtab="" href="#tabGeral">Geral</a>
            </li>
            <li>
            	<a showtab="" href="#tabPrazos">Prazos</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabGeral">
            	<br>
            	<div class="row">
					<div class="col-xs-12 col-sm-2">
						<div class="form-group">
							<label  class="control-label" 
							for="field_desconto_max">
							Desc. Máximo
							</label> 
							<input	type="text" 
									class="form-control" 
									name="desconto_max" 
									id="field_desconto_max"
									ng-model="tipocliente.vlDescontoMax"
							/>

						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<div class="form-group">
							<label  class="control-label" 
							for="field_comissao">
							Comissão
							</label> 
							<input	type="text" 
									class="form-control" 
									name="comissao" 
									id="field_comissao"
									ng-model="tipocliente.vlComissao"
							/>

						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<div class="form-group">
							<label  class="control-label" 
							for="field_meta_mensal">
							Valor Meta Mensal
							</label> 
							<input	type="text" 
									class="form-control" 
									name="meta_mensal" 
									id="field_meta_mensal"
									ng-model="tipocliente.vlMeta"
							/>

						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<div class="form-group">
							<label  class="control-label">
							Pag. de Faturas
							</label> 
							<select class="form-control" id="dia_form" name="dia" ng-model="tipocliente.diaFatura"
							ng-options="d as d > 0 ? 'DIA '+d : ''  for d in dias track by d">
							<option value="0"></option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="form-group">
							<label  class="control-label">
							Preço Usado em Compras
							</label> 
							<select class="form-control" id="" ng-model="tipocliente.precoVenda">
								<option value="QQ"></option>
								<option value="AV">ATACADO À VISTA</option>
								<option value="AP">ATACADO A PRAZO</option>
								<option value="VV">VAREJO À VISTA</option>
								<option value="VP">VAREJO A PRAZO</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<fieldset>
						    <legend style="width: 57%">Formas de Pagamento</legend>
						    <div class="col-sm-6">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_dinheiro" id="field_fl_dinheiro" ng-model="tipocliente.flDinheiro" /> 	
									<label class="checkbox-label" for="field_fl_dinheiro">Dinheiro</label>		 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_cartao" id="field_fl_cartao" ng-model="tipocliente.flCartao" /> 	
									<label class="checkbox-label" for="field_fl_cartao">Cartão</label>		 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_cheque" id="field_fl_cheque" ng-model="tipocliente.flCheque" /> 	
									<label class="checkbox-label" for="field_fl_cheque">Cheque</label>		 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_crediario" id="field_fl_crediario" ng-model="tipocliente.flCrediario" /> 	
									<label class="checkbox-label" for="field_fl_crediario">Crediário</label>		 
								</div>
							</div>
						</fieldset>
					</div>

					<div class="col-xs-12 col-sm-4 mg-top">
						<fieldset>
						    <legend style="width: 15%">Status</legend>
						    <div class="col-sm-6">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_bloqueado" id="field_fl_bloqueado" ng-model="tipocliente.bloqueado" /> 	
									<label class="checkbox-label" for="field_fl_bloqueado">Bloqueado</label>		 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_vip" id="field_fl_vip" ng-model="tipocliente.vip" /> 	
									<label class="checkbox-label" for="field_fl_vip">VIP</label>		 
								</div>
							</div>
							<div class="col-sm-12">
								<div class="checkbox checkbox-position">				
									<input class="checkbox-size" type="checkbox" name="fl_fc_juros" id="field_fl_fc_juros" ng-model="tipocliente.forcaJuros" /> 	
									<label class="checkbox-label" for="field_fl_fc_juros">Forçar Cobrança de Juros</label>		 
								</div>
							</div>
						</fieldset>
					</div>
					
				</div>
            
            </div>
            <div class="tab-pane" id="tabPrazos">
            	<br>
            	<div class="row">			
					<div class="col-xs-12">
						<div class="form-group">
							<div class="checkbox checkbox-position">					
								<input class="checkbox-size" type="checkbox" name="fl_prazo_conf" id="field_fl_prazo_conf" ng-model="tipocliente.bloqueiaPrazo" /> 	
								<label class="checkbox-label" for="field_fl_prazo_conf">
									Permitir Venda para este Cliente Somente nos Prazos Configurados Abaixo:
								</label>		 
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="form-group">
							<select class="form-control" ng-multiple="true" multiple
								name="prazo" ng-model="tipocliente.prazos"
								ng-options="prazo.nome for prazo in prazos track by prazo.id">
							</select>
							
						</div>	
					</div>
				</div>            
            </div>    
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="mdi mdi-close"></span>
            <span>Cancelar</span>
        </button>
        <button type="submit" class="btn btn-success" ng-disabled="editForm.$invalid || editForm.$submitted">
            <span class="mdi mdi-content-save"></span>
            <span>Salvar</span>
        </button>
    </div>
</form>
