<!-- Modal used to display the threads dump -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Despejo de Tarefas</h4>
</div>
<div class="modal-body pad">
    <span class="label label-primary" ng-click="threadDumpFilter = {}">All&nbsp;<span class="badge">{{threadDumpAll}}</span></span>&nbsp;
    <span class="label label-success" ng-click="threadDumpFilter = {threadState: 'RUNNABLE'}">Rodando&nbsp;<span class="badge">{{threadDumpRunnable}}</span></span>&nbsp;
    <span class="label label-info" ng-click="threadDumpFilter = {threadState: 'WAITING'}">Esperando&nbsp;<span class="badge">{{threadDumpWaiting}}</span></span>&nbsp;
    <span class="label label-warning" ng-click="threadDumpFilter = {threadState: 'TIMED_WAITING'}">Tempo esperando&nbsp;<span class="badge">{{threadDumpTimedWaiting}}</span></span>&nbsp;
    <span class="label label-danger" ng-click="threadDumpFilter = {threadState: 'BLOCKED'}">Bloqueada&nbsp;<span class="badge">{{threadDumpBlocked}}</span></span>&nbsp;
    <div class="voffset2">&nbsp;</div>
    Filtrar
    <input type="text" ng-model="threadDumpFilter" class="form-control">
    <div class="row pad" ng-repeat="(k, v) in threadDump | filter:threadDumpFilter">
        <h5><span class="label" ng-class="getLabelClass(v.threadState)">{{v.threadState}}</span>&nbsp;{{v.threadName}} (ID {{v.threadId}}) 
            <a ng-click="show = !show">
               <span ng-show="!show">Mostrar Pilha de informações</span>
               <span ng-show="show">Ocultar Pilha de informações</span>
            </a>
        </h5>
        <div class="well" ng-show="show">
            <div ng-repeat="(stK, stV) in v.stackTrace">
                {{stV.className}}.{{stV.methodName}}({{stV.fileName}}:{{stV.lineNumber}})
                <span class="voffset1"></span>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-right">Tempo Bloqueada</th>
                    <th class="text-right">Contagem de Bloqueio</th>
                    <th class="text-right">Tempo de Espera</th>
                    <th class="text-right">Contagem de Espera</th>
                    <th>Nome de apresentação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{v.blockedTime}}</td>
                    <td>{{v.blockedCount}}</td>
                    <td>{{v.waitedTime}}</td>
                    <td>{{v.waitedCount}}</td>
                    <td>{{v.lockName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default  pull-left" data-dismiss="modal" ng-click="cancel()">Feito</button>
</div>