<div>
    <div class="row">        
        <div class="col-xs-12 col-md-4 col-lg-3 col-md-offset-4">            
            <div class="box">
                <div class="box-header">
                    <br>
                    <p></p>
                    <img src="assets/img/logosis.svg" class="img-responsive img-login center-block" alt="Responsive image">
                </div>
               
                <div class="box-body">
                    <div class="alert alert-danger" ng-show="authenticationError">
                        <strong>Falha ao realizar Login!</strong> Por favor verifique seu nome de usuário e senha e tente novamente.
                    </div>
                    <form class="form" role="form" ng-submit="login($event)">
                        <div class="form-group has-feedback">
                            <!--<label for="username">Usuário</label>-->
                            <input type="text" class="form-control input-lg" id="username" placeholder="Usuário" ng-model="username">
                            <span class="mdi mdi-account form-control-feedback"></span>
                        </div>                        
                        <div class="form-group has-feedback">
                            <!--<label for="password">Senha</label>-->
                            <input type="password" class="form-control input-lg" id="password" placeholder="Senha" ng-model="password">
                            <span class="mdi mdi-account-key form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="rememberMe" checked/>
                                    <span class="checkbox__label">Lembrar-me nesse computador</span>
                                </label>
                            </div>
                            <label>
                                <a class="alert-link" href="#/reset/request">Esqueceu sua senha?</a>
                            </label>
                            <br>
                            <label>
                                <a class="alert-link" href="#/register">Criar nova conta</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Login</button>
                    </form>
                    <br>                    
                </div>                
            </div>
        </div>
    </div>
</div>
