<form name="deleteForm" ng-submit="confirmDelete(grupo.id)">
    <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title">
            Deletar Grupo
            <i class="mdi mdi-delete mdi-icon mdi-modal-title"></i>
        </h4>
    </div>
    <div class="modal-body">
        <p>Você realmente quer deletar este Grupo?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="mdi mdi-close mdi-2x mdi-icon-text-va"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="mdi mdi-delete mdi-2x mdi-icon-text-va"></span>&nbsp;<span>Deletar</span>
        </button>
    </div>
</form>