
<form name="editForm" role="form" novalidate ng-submit="save()">	  	
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true" ng-click="clear()">&times;</button>
			<h4 class="modal-title" id="myGrupoLabel">Criar ou editar Grupo</h4>
		</div>	
		<div class="modal-body">
			<jh-alert-error></jh-alert-error>
			<div class="row">
	            <div class="col-xs-12 col-sm-10">		
					<div class="form-group">
						<label for="field_nome">Nome</label> 
						<input class="form-control" type="text" name="nome" id="field_nome" ng-model="grupo.nome" />
					</div>
				</div>
				<div class="col-xs-12 col-sm-2">
					<div class="form-group">
						<label for="field_valorcomissao">Comissão(%)</label> 
						<input class="form-control" type="number" name="vl_comissao" id="field_valorcomissao" ng-model="grupo.valorcomissao" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<div class="checkbox checkbox-position">
							<input class="checkbox-size" type="checkbox" name="comdesconto" id="field_comdesconto" ng-model="grupo.comdesconto" />
							<label class="checkbox-label" for="field_comdesconto">Desconto (%)</label>				
						</div>
					</div>
				
					<div class="form-group">
						<div class="checkbox checkbox-position">					
							<input class="checkbox-size" type="checkbox" name="empromo" id="field_empromo" ng-model="grupo.empromo" /> 	
							<label class="checkbox-label" for="field_empromo">Promoção</label>		 
						</div>
					</div>	
				</div>
			</div>				

			<!-- Só mostra caso tenha selecionado promoção -->
			<div ng-show="grupo.fl_promo">
				<div class="row">
		            <div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<label for="field_datapromo">Data Promoção</label>
							<div class="input-group">
								<div class="input-group-addon">
		                        	<i class="mdi mdi-calendar mdi-2x"></i>
		                      	</div> 
								<input class="form-control" type="date" name="datapromo" id="field_datapromo"	
								ng-model="grupo.datapromo"
								ui-mask="99/99/9999" placeholder="DD/MM/YYYY"/>
							</div><!-- /.input group -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<div class="checkbox checkbox-position">						
								<input class="checkbox-size" type="checkbox" name="semsaldo" id="field_semsaldo" ng-model="grupo.semsaldo" />
								<label class="checkbox-label" for="field_semsaldo">Sem Contagem</label>
							</div>
						</div>

						<div class="form-group">
							<div class="checkbox checkbox-position">
								<input class="checkbox-size" type="checkbox" name="enviado" id="field_enviado" ng-model="grupo.enviado" />	
								<label class="checkbox-label" for="field_enviado">Envio</label>						
							</div>
						</div>
					</div>
				</div>
				<div class="row">
	        		<div class="col-xs-12 col-sm-2">
						<div class="form-group">
							<label for="field_novo">Novo</label>
							<input class="form-control" type="number" name="novo" id="field_novo" ng-model="grupo.novo" />
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
        	<div class="col-xs-12 col-sm-12">
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salvar</span>
					</button>
				</div>
			</div>
		</div>
	</div>		
</form>
