<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Criar conta</h1>

            <div class="alert alert-success" ng-show="success">
                <strong>Cadastro realizado com sucesso!</strong> Por favor cheuqe seu e-mail para confirmação da criação de sua conta.
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Falaha ao criar conta!</strong> Por favor tente novamente mais tarde.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists">
                <strong>Nome de usuário já existe!</strong> Por favor escolha outro.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>O e-mail informado já está cadastrado!</strong> Por favor escolha outro.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                A senha e a confirma de senha não conferem!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="form-group">
                    <label for="login">Usuário</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Usuário"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Digite um usuário válido.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            O usuário deve ter no mínimo um caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            O usuário deve ter no máximo 50 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Seu usuário deve conter apenas letras minúsculas e números.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Digite um e-mail válido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            E-mail válido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            O e-mail deve conter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            O e-mail deve conter no máximo 100 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Digite sua senha.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            A senha deve conter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            A senha deve conter no máximo 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirmação de senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme a senha"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Digite a confirmação da senha.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            A confirmação de senha precisa ter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            A confirmação de senha deve ter no máximo 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Registrar</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                Se você quiser fazer o <a class="alert-link" href="#/login">login</a>, você pode tentar usar as contas:<br/>- Administrador (usuário="admin" e senha="admin") <br/>- usuário (usuário="user" e senha="user").
            </div>
        </div>
    </div>
</div>
